.topbarContainer{
    background-color: #3d85c6;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.topbarLeft{
    flex: 3;
    color: white;
    font-weight:bold;
    margin-left: 20px;
}

.logo{
    font-size: 24px;
}

.topbarCenter{
    flex: 5;
}

.searchBar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.searchInput{
    border: none;
    width: 80%;
}

.searchInput:focus{
    outline: none;
}


.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
    margin-right: 5px;
}

.topbarRight {
    flex: 4;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}


.topbarItemIcons {
    display: flex;
}

.topbarIconItem {
    margin-top: 5px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: #d84f97;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
